body { background-color:#ffffff;color:#000000;font:16px "微軟正黑體", Arial, Helvetica, sans-serif;width: 1000px;margin: 25px auto;}
h1 { font-size:1em;}


.aHeader {background-color:yellow;max-height: 100px;}
.aHeader:before {display:inline-block;vertical-align: top;content:"";width:70px;height: 100px;background-color: #ffffff;position:relative;left:40px;}
.img-profilo {display:inline-block;vertical-align: top;position:relative;width: 100px;height: 100px;border-radius:50px;background-color:red;}
.bProfile {display:inline-block;position: relative;}


.h1-tit {display:inline-block;vertical-align: middle;font-size:50px;margin: 10px 0 0 0;line-height: 40px;}
.h1-tit span { display:block; font-size:30px; line-height:30px; margin-left:-4px;}
.h6-desc {margin: 0px 0 0 100px;font-size:13px;font-weight:normal;letter-spacing:1px;position: absolute;bottom: 5px;}
.aMainer {margin: 0 0 30px 0px;}

.bInfo {display:inline-block;float:right;width: 60%;}
.bInfo ul {width:100%; padding:0; margin: 17px 0 0 36px; list-style:none;}
.bInfo .li-info a {vertical-align:top; color: #000; text-decoration:none;padding-left: 8px;}
.bInfo .li-info { display:inline-block; margin:12px 10px;}
.bInfo .li-info:before {display:inline-block;content:""; width:15px; height:15px; background-color: #000000;border-radius:15px;}


.bContent {display:inline-block; vertical-align:top;width: 45%;  margin: 0 40px 0 0;}
.h4-stit {background-color:yellow;padding: 5px 0 5px 45px;font-size :1em;margin :5px 0 5px 15px;position :relative;}
.h4-stit:before{display :inline-block; vertical-align :top; content :""; width :40px; height :40px; border-radius :50%; background-color :black; position :absolute; left :-15px; top :-3px;}

.bContent:nth-child(odd) { margin-left:14px;}
.bContent:nth-child(even) { margin-right:0;}

.h4-stit_1 { background-color:yellow;padding :5px 0 5px 45px; font-size :1em; margin :5px 0 5px 15px; position :relative;}
.h4-stit_1:before{display :inline-block; vertical-align :top; content :""; width :40px; height :40px; border-radius :50%; background-color :black; position :absolute; left :-15px; top :-3px;}

.aFooter{background-color: #c3c0c0;padding: 40px 0 30px 0px;}
.aFooter:before {display:inline-block;vertical-align: top;content:"";width: 22px;height: 31px;background-color: #ffff00;position:relative;left: 0px;margin: 5px 16px 0px 0px;}

.d-space {display: inline-block;width: 48%;}
.d-space span {margin: 13px 22px 5px 0px;display: block;font-size: 8px;}


.aExtender {margin: 10px 0 0 0;}
.ul-profile-show { width: 952px; height: 497px; margin: 0 auto; list-style-type: none; position: relative;}
.ul-profile-show:hover > .li-profile-show { opacity: 0.5; filter: alpha(opacity=50);}
.ul-profile-show:hover > .li-profile-show:hover { opacity: 1; filter: alpha(opacity=100);}
.li-profile-show { background: no-repeat; position: absolute; transition: all 0.3s linear;}
.li-profile-show img { display: none;}
.li-profile-show01 { width: 660px; height: 330px; background-image: url(../imgs/pic/cat01.jpg); top: 0; left: 0;}
.li-profile-show02 { width: 256px; height: 165px; background-image: url(../imgs/pic/cat02.jpg); left: 0; bottom: 0;}
.li-profile-show03 { width: 403px; height: 165px; background-image: url(../imgs/pic/cat03.jpg); left: 259px;bottom: 0;}
.li-profile-show04 { width: 330px; height: 165px; background-image: url(../imgs/pic/cat04.jpg); top: 0; right: 0;}
.li-profile-show05 { width: 330px; height: 330px; background-image: url(../imgs/pic/cat05.jpg); bottom: 0; right: 0;}
