
a { display: inline-block; vertical-align: top; color: #007bff; text-decoration: none; }
body { font-family: "Helvetica Neue", Arial, sans-serif; }
.aHeader { height: 90px; background-color: white; position: relative; }
.aHeader .blk { display: inline-block; vertical-align: top; }

.aHeader .lnk-logo { padding: 5px 10px; font-size: 20px; font-weight: 400; letter-spacing: 4px; line-height: 53px; margin: 0 16px; }

.aHeader .li-nav { display: inline-block; vertical-align: top; }
.aHeader .lnk-nav { font-size: 18px; color: #444040; letter-spacing: 2px; padding: 0 10px; line-height: 30px; }
.aHeader .li-nav.active .ul-subNav { display: block; }
