:root { --white: #fff; --black: #000; --glay: #555; --inlineBlock: inline-block; --vertical-align: top; --paddingUL: 0px 5px 3px 5px; }
a { display: inline-block; vertical-align: top; color: #007bff; text-decoration: none; }
body { font-family: "Helvetica Neue", Arial, sans-serif; }
.aHeader { height: 84px; background-color: var(--white); position: relative; }
.aHeader .blk { display: inline-block; vertical-align: top; }

/*.bLogo*/
.aHeader .bLogo { }
.aHeader .lnk-logo { padding: 5px 10px; font-size: 20px; font-weight: 400; letter-spacing: 4px; line-height: 53px; margin: 0 16px; }

/*bNav*/
.aHeader .bNav { }
.aHeader .ul-nav { }
.aHeader .li-nav { display: inline-block; vertical-align: top; }
.aHeader .lnk-nav { font-size: 17px; color: var(--glay); letter-spacing: 1px; padding: 0 8px; line-height: 30px; }
.aHeader .li-nav.active .ul-subNav { display: block; }

/*.bSearch*/
.aHeader .bSearch { position: absolute; right: 30px; top: 26px; }
.aHeader .ipt-search { border: none; border-bottom: 1px solid #c5c5c5; height: 44px; padding-left: 30px; outline: none; background: url(imgs/header/magnifier-tool.png) left center no-repeat; background-size: 17px; }

/*.ul-subNav*/
.aHeader .ul-subNav { display: none; padding: 0; }
.aHeader .ul-subNav { padding: 5px 0; border-radius: 10px; background-color: #fff; -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2); }
.aHeader .ul-subNav .li-subNav { list-style-type: none; }
.aHeader .ul-subNav .li-subNav .lnk-subNav { text-align: left; font-size: 14px; color: #000; line-height: 30px; padding-left: 15px; }
.aHeader .ul-subNav .li-subNav:hover { background-color: #007bff; }
.aHeader .ul-subNav .li-subNav:hover .lnk-subNav { color: #fff; }
.aHeader .ul-subNav:before { display: block; content: ""; width: 0; height: 0; border-style: solid; border-width: 0 7px 10px 7px; border-color: transparent transparent #ffffff transparent; position: relative; top: -20px; left: 19px; }
